* {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", sans-serif;
  font-size: 12px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: #282828;
  color: #ebdbb2;
  border-bottom: 1px solid #3c3836;
}

#custom-logo,
#workspaces,
#clock,
#network,
#backlight,
#pulseaudio,
#battery,
#tray {
  background: transparent;
  color: #ebdbb2;
  padding: 0 10px;
  margin: 0;
}

#custom-logo {
  color: #83a598;
  font-weight: 700;
  padding-left: 14px;
  padding-right: 14px;
}

#custom-logo:hover {
  background: #3c3836;
  color: #fbf1c7;
}

#workspaces {
  padding-left: 4px;
}

#workspaces button {
  all: initial;
  color: #a89984;
  padding: 0 8px;
  margin: 0 2px;
  font-weight: 700;
}

#workspaces button:hover {
  color: #83a598;
}

#workspaces button.focused,
#workspaces button.active {
  color: #fabd2f;
}

#workspaces button.urgent {
  color: #fb4934;
}

#clock {
  font-weight: 700;
}

#network:hover,
#backlight:hover,
#pulseaudio:hover,
#battery:hover,
#tray:hover {
  background: #3c3836;
}

#battery.warning {
  color: #fabd2f;
}

#battery.critical {
  background: #cc241d;
  color: #fbf1c7;
}

tooltip {
  background: #1d2021;
  color: #ebdbb2;
  border: 1px solid #504945;
}

tooltip label {
  color: #ebdbb2;
}